/*CSS DOCUMENT*/


html, 
body{
    background-color: rgb(250, 250, 255)
}
div.container{
    max-width: 50em;
    margin: auto;
} 
figure{
    display: grid;
    grid-template-columns: 70% auto;
}
img{
width: 100%
}

figcaption{
    font-style: italic;
    font-family: sans-serif;
    background-color: #F3EBE1;
    padding: 1em 1em 0 1em
} 
main{
    display: grid;
    grid-template-columns: 40% auto
}
footer{
    text-align: center;
}
section.ingredients{
padding: 1em;
    line-height: 2em
}

section.directions{
 margin: 1.5em;
line-height: 1.5em
}

h1 {
    margin: .5em 1.45em .5em 1.45em;
    font-family: sans-serif
}
h2{
    margin: .5em 1.45em .5em 1.45em;
    font-family: sans-serif
}
h3{
   text-align: left;
    margin-left: 1em
} 
p{
    font-family: sans-serif
} 
ol{
text-align: left;
    font-family: sans-serif;
    margin: .5em
} 
ul{
 list-style-type: none;
    text-align: left;
        font-family: sans-serif
} 
li{
    font-style: normal
}
{margin: 0;	padding: 0;	border: 0;	vertical-align: baseline;} /*My edited version of the Eric Meyer’s reset tool. Feel free to keep it or delete it. */

img {
    width: 100%; /*Please leave this line.*/
}

/*By the way, when we use the slash-asterisk combo, it’s a comment on the CSS and it’s meant for human beings. The machine knows it is not supposed to process anything until it finds a asterisk-slash combo that ends the comment on the CSS. */
